{% extends 'layouts/default/page.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div style="text-align: center;">
        <h1>WELCOME TO THE HOUSE BRAIN</h1>
    </div>

    {% if request.user.is_authenticated %}
        <br>
        <br>
        <div id="step-container" class="container rounded-sm shadow-sm bg-light mx-auto py-1 px-1 border border-5 border-dark">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="step-wrapper active mb-3 text-center" id="step-1">
                        <h4>Enter Address</h4>
                        <p>Please enter the address for your equipment.</p>
                    </div>
              
                    <div class="step-wrapper mb-3 text-center" id="step-2">
                        <h4>Add Components</h4>
                        <p>List the equipment components at this address.</p>
                    </div>
              
                    <div class="step-wrapper mb-3 text-center" id="step-3">
                        <h4>Add Maintenance Completed</h4>
                        <p>Select the components that had maintenance completed and enter the date.</p>
                    </div>
                </div>
            </div>
        </div>
      
        <h1>Components Due for Maintenance</h1>
        <table>
            <thead>
                <tr>
                    <th>Component</th>
                    <th>Next Maintenance Date</th>
                </tr>
            </thead>
            <tbody>
                {% for component, next_maintenance_date in component_next_maintenance.items %}
                    <tr>
                        <td>{{ component }}</td>
                        <td>{{ next_maintenance_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans 'Please Log In or Create an Account to continue' %}
    {% endif %}
{% endblock %}

