{% extends 'layouts/default/page.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container mx-auto  text-center">
    <div style="text-align: center; background-color: #cdc9d1; border: 3px solid black;border-width: 5;  text-align: center; padding: 50px ">
        <h1>WELCOME TO THE HOUSE BRAIN</h1>
    </div>
</div>
    <br>
    <br>
    <div class="container mx-auto  text-center">
        <div style="background-color: #aac0bf; border: 1px solid black; border-radius: 10px; border-width: 5;">
            <br>
                <p>AT THE HOUSE BRAIN, WE PROVIDE A WAY TO TRACK MAINTENANCE AND RECEIPTS FOR ONE TO MANY PROPERTIES. </p>
                <p>IF YOU HAVE ONE HOUSE OR MANY, THIS WILL HELP BY TRACKING THE LAST TIME YOU HAVE COMPLETED THE MAINTENANCE,</p> 
                <p>ANY COST THAT YOU HAVE INCURRED FROM THE MAINTENANCE, AS WELL AS STORE RECEIPTS FOR EASE OF REFERENCE IN THE FUTURE. </p>  
            <br>
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <br>
        <br>
        <div id="step-container" class="container rounded-sm shadow-sm bg-light mx-auto py-1 px-1 border border-5 border-dark">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="step-wrapper active mb-3 text-center" id="step-1">
                        <h4>Enter Address</h4>
                        <p>Please enter the address for your equipment.</p>
                    </div>
              
                    <div class="step-wrapper mb-3 text-center" id="step-2">
                        <h4>Add Components</h4>
                        <p>List the equipment components at this address.</p>
                    </div>
              
                    <div class="step-wrapper mb-3 text-center" id="step-3">
                        <h4>Add Maintenance Completed</h4>
                        <p>Select the components that had maintenance completed and enter the date.</p>
                    </div>
                </div>
            </div>
        </div>
      
        <h1>Components Due for Maintenance</h1>
        <table>
            <thead>
                <tr>
                    <th>Component</th>
                    <th>Next Maintenance Date</th>
                </tr>
            </thead>
            <tbody>
                {% for component, next_maintenance_date in component_next_maintenance.items %}
                    <tr>
                        <td>{{ component }}</td>
                        <td>{{ next_maintenance_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <br>
    <br> 
    <div class="card-header; text-center">
        <h1>{% trans 'Please Log In or Create an Account to continue' %} </h1>
    </div>
    {% endif %}
{% endblock %}
