<!DOCTYPE html>
<html>
{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}


{% block content %}
<p style="text-align:center">SELECT AND ADDRESS, ENTER THE COMPONENT AND SELECT A FREQUENCY IN MONTHS.


<div class="container mx-auto mt-3 mb-3 bg-light border border-dark text-center">
  <div class="card">
    <div class="card-header"; style="background-color: #aac0bf; padding: 10px";>
      <h1 class="text-center mb-4">{% trans 'Add Equipment' %}</h1>
    </div>
  </div>
  <br>
  <div class="center"; style="background-color: #eed7a1; padding: 10px">
  <h6>Frequency of the Maintenance is added in Months</h6>
  </div>
<br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="id_address">Address:</label>
    <select name="address" id="id_address">
      {% for address in addresses %}
        <option value="{{ address.id }}">{{ address }}</option>
      {% endfor %}
    </select>
    <br>
    <br>
    {{ form.component.label_tag }}
    {{ form.component }}
    <br>
    <br>
    {{ form.frequency.label_tag }}
    {{ form.frequency }}
    {% if form.frequency.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.frequency.errors }}
        </div>
    {% endif %}
    <br>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>


{% endblock %}
</html>
