<!DOCTYPE html>
<html>
{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% block content %}

<!-- <head style="text-align: center;">
  <title>Address Form</title>
</head> -->

<div style="text-align: center;">
    <h4>{% trans 'Address Form' %}</h4>
</div>


{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="container mx-auto">
    <div class="card rounded-sm shadow-sm bg-light border border-dark mb-3">
      <div class="card-body py-4 px-5 row">
        <div class="col-md-8 offset-md-2 text-center" >  {{ form.as_p }}
          <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
</html>
