{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="header">
    <div style="background-color: #cdc9d1; text-align: center; padding: 30px ">
    <h1> Periodic Maintenance Report</h1>
    </div>
</div>
<body>
    <div style="background-color: #aac0bf; padding: 10px;">
        <form method="get" action="{% url 'accounts:reports' %}">
            <label for="address">Address:</label>
            <select id="address" name="address">
                <option value="">Select Address</option>
                {% for address in addresses %}
                    <option value="{{ address }}">{{ address }}</option>
                {% endfor %}
            </select>

            <label for="component">Component:</label>
            <select id="component" name="component">
                <option value="">Select Component</option>
                {% for component in components %}
                    <option value="{{ component }}">{{ component }}</option>
                {% endfor %}
            </select>

            <label for="low_price">Minimum Price:</label>
            <input type="number" id="low_price" name="low_price" step="0.01" placeholder="Minimum Price">

            <label for="high_price">Maximum Price:</label>
            <input type="number" id="high_price" name="high_price" step="0.01" placeholder="Maximum Price">

            <button type="submit">Search</button>
        </form>
    </div>

    {% if component_status_and_price %}
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Component</th>
                        <th>Decription</th>
                        <th>Next Due Date</th>
                        <th>Status</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in component_status_and_price %}
                    <tr>
                        <td>{{ record.component.address }}</td>
                        <td>{{ record.component }}</td>
                        <td>{{ record.description }}</td>
                        <td>{{ record.next_due_date|date:"F d, Y" }}</td>
                        {% if record.status == 'Overdue' %}  
                            <td style="background-color: #FFCCCC">{{ record.status }}</td>
                        {% else %}
                            <td>{{ record.status }}</td>
                        {% endif %}
                        <td>${{ record.total_price }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No maintenance records found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <p>No maintenance found.</p>
    {% endif %}
</body>
{% endblock %}
